/* body,htmlの全体にかける処理 */
html,body{
  margin: 0;    /* 余白の削除 */
  padding: 0;   /* 余白の削除 */
  width:100%;
  height:100%;
}


/* ラッパー */

#wrapper{
  position: absolute;    /* ヘッダーの固定 */
  top: 0px;           /* 左上から0のところから */
  left: -200px;
  padding-left: 200px;
  width: 100%;        /* 横幅を100% */
  height: 100%;      /* 縦幅を100%*/
}
/* ナビゲーションバー */
#frootNavigate{
  position: fixed;
  background-color: red;    /* 好きな色を指定 */
  width: 100%;              /* 横幅を100% */
  height: 30px;
  margin-left: 0px;
  z-index: 999;        /* 高さを30px */
}
/* サイドバーの画像を表示する領域 */
#frootSidebar{
  position: fixed;
  z-index: 999;
}
/* サイドバーの画像の詳細 */
#frootSidebar input.naviButton{
  margin-top: 30px;
  width: 50px;    /* 画像の横幅50px */
  height: 50px;   /* 画像の縦幅50px */
}
/* サイドバー */
#Sidebar{
  overflow: auto;
  position: fixed;
  margin-top: 30px;
  background-color: black;
  width: 200px;
  height: 100%;
  margin-left: -200px;
}

/* ヘッダー */
#header .rogo{
  position: relative;
  z-index: 1;
  -webkit-transform: skewY(-5deg);    /* 斜面-5 */
  margin-top: 60px;                   /* 左上から60pxの位置 */
  margin-bottom: 50px;                /* ヘッダーの下のスペース50px */
  width: 100%;                        /* 横幅を100% */
  height: 200px;                       /* 立て幅50px */
}
